<!DOCTYPE html>
<html>
    <head>
        <title>Bitte anmelden</title>
        <link href="test.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <!-- https://www.w3schools.com/html/html_images.asp-->
        <a href="/kiste">
            <center><h1><img border="0" alt="HAW Kiste" src="HAW_Kiste_Logo.png" alt="HAW Kiste" width="260" height="80" align="middle"> </h1> </center>
            </a>  
        <div class="card">
            <div class="headline">Bevor du etwas hochladen kannst, musst du dich anmelden.</div><br>

            <% if (error) { %> 
                <div class="error">Nutzername oder Passwort falsch.</div>
            <% } %>

            <form action="/bitteAnmelden" method="POST">
                <input type="text" name="nutzername" placeholder="Benutzername" required>
                <input type="password" name="passwort" placeholder="Passwort" required>
                <button type="submit">Login</button>
            </form>
            <form action="/register" method="GET">
                <button type="submit">Registrieren</button>
            </form>
        </div>
    </body>
</html>