<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
        <link href="test.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <a href="/kiste">
            <!-- https://www.w3schools.com/html/html_images.asp-->
            <center><h1><img border="0" alt="HAW Kiste" src="HAW_Kiste_Logo.png" alt="HAW Kiste" width="260" height="80" align="middle"> </h1> </center>
            </a>  
        <div class="card">
            <div class="headline">Registrierung</div><br>

            <% if (error != null) { %> 
                <div class="error"><%= error %></div>
            <% } %>

            <form action="/register" method="POST">
                <input type="text" name="nutzername" placeholder="Benutzername" required>

                <input type="password" name="passwort" placeholder="Passwort" required>

                <input type="password" name="passwortConfirm" placeholder="Passwort wiederholen" required>

                <input type="email" name="email" placeholder="maxmuster@mann.de" required>

                <button type="submit">Registrieren</button>
            </form>
        </div>
    </body>
</html>